# Eclipse project files
.cproject
.project
.settings

# VDR ignorables
/build
/Build

# Configuration
/system/channels.xml
/system/allowed_hosts.conf #old filetype
/epg

# Test files
/vdr/scan/test/channel-scan-results.xml

